.buttons {
  position: relative;
  width: 20rem;
  height: auto;
  /* background-color: aqua; */
}

.button {
  margin: 0 0.5rem 0 0;
}

.button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}

.button:disabled {
  cursor: not-allowed;
  background-color: rgba(128, 128, 128, 0.233);
  pointer-events: all !important;
}
